body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #D4D4D2;
}

h1{
    margin-block-start: 0em; 
    color: white;
}
.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    height: 1.5em;
}
textarea{
    width: 100%;
    margin-top: 2em;
}
.container{
    background-color: #1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

a{
    border-bottom: 1px solid;
    color: #1C1C1C;
    padding: 20px 10px 2px;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.2s;
}

nav a:hover,
nav a:focus{
    color: #a56767;
    text-align: left;

}


.area{
    display: flex;
    justify-content: center;
}

button{
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: white;
}
button:hover{
    cursor: pointer;
}